# Application
.iv
.key
web/app/plugins/*
web/app/debug.log
!web/app/plugins/.gitkeep
web/app/plugins/opcache
!web/app/plugins/pdf
!web/app/plugins/acf_gravity_forms
web/app/themes/*
!web/app/themes/base-child-forms

web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

.idea

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# IDEs
/.vscode/

# .Net Core
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/